Package: net.sourceforge.adamscode.instantboard
Priority: optional
Section: System
Maintainer: Ad@m <kirbylover4000+cydia@gmail.com>
Architecture: iphoneos-arm
Version: VERSION
Description: Faster and easier theming system
Name: InstantBoard
Depends: mobilesubstrate (>= 0.9.3225-1), killall, preferenceloader, libhide (>= 2.0.4), findutils, net.howett.pincrush (>= 0.0.1-23) | pincrush, curl
Provides: theme-manager, winterboard
Conflicts: winterboard, com.modmyifone.winterboardicon, winterboardsettings, themesettings, com.iphonerepocenter.transparentdockfor3xtheme
Replaces: winterboard, com.modmyifone.winterboardicon, winterboardsettings, themesettings, com.iphonerepocenter.transparentdockfor3xtheme
Author: Ad@m <kirbylover4000+cydia@gmail.com>
Depiction: http://adamscode.sourceforge.net/cydia/depiction.php/instantboard
Homepage: http://adamscode.sourceforge.net/cydia/instantboard.php
