<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NavigationBarStyle-0</key>
    <string>1</string>
    <!--
      This plist file makes every app that uses a title bar at the top of the screen to make 
      it become a black style. You can only choose a limited number of colors. 
    -->
</dict>
</plist>
